body {
    color: #635959;
}

header {
    background-color: #242323;
    color: #EFEFEF;
}

/*targets the h3 element, targets h4 elements within an article element*/
h3, article h4 {
    color: #8c1018;
}

/*targets the a elements within an article element*/
article a {
    color: #314052;
}

/*targets the h1 elements within a header element*/
header h1 {
    font-size: 4em;
}

/*Targets the figcaption elements that are direct descendants of figure
elements within a main element.*/
main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

/*targets the figcaption elements that are direct descendants of
figure elements within a main element. This rule will add content before
the element using the special ::before selector in CSS*/
main figure > figcaption::before {
    content: 'Pictured above ';
    font-weight: bold;
}

/*targets the time elements that are direct descendants of article elements*/
article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

/*targets the h3 elements that are direct descendants of main elements*/
main > hr {
    font-size: 2em;
}
